---
import { type CollectionEntry } from "astro:content";
import type { Exercise } from "@/Types/interfaces";

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { slugify } from "@js/textUtils"; 


// utils
import { formatDate, categorify } from "@js/textUtils";

interface Props {
	post: Exercise;
	showDescription?: boolean;
	class?: string;
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { post, showDescription = false, class: className, ...rest } = Astro.props as Props;
const { name, muscle , indications , heroImage } = post;

const img = heroImage ? heroImage : ''
---							

<a
	href={`/ejercicios/${slugify(post.name)}/`}
	aria-label={`Read ${name}`}
	class=`primary-focus w-full group flex flex-col max-w-lg md:max-w-full mx-auto p-2 border border-base-200 shadow-md rounded-lg transition-transform duration-300 hover:scale-[1.02] ${className}`
	{...rest}
	transition:name={`blog-${post.name}`}
>
	<div>
		<div
			class=`overflow-hidden rounded-md border border-base-100 shrink-0 justify-center sm:justify-normal`
		>
		<figure class="h-28 mx-auto flex justify-center">
			{
				heroImage && <Image
				src={img}
				alt={`Ejercicio ${name}`}
				height={100}
				width={200}
				class="h-full  w-full object-cover"
				transition:name={`blog-image-${post.name}`}
			/>
			}
			
			{
				!heroImage && <svg class="size-28" fill="#000000" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;}</style></defs><title>no-image</title><path d="M30,3.4141,28.5859,2,2,28.5859,3.4141,30l2-2H26a2.0027,2.0027,0,0,0,2-2V5.4141ZM26,26H7.4141l7.7929-7.793,2.3788,2.3787a2,2,0,0,0,2.8284,0L22,19l4,3.9973Zm0-5.8318-2.5858-2.5859a2,2,0,0,0-2.8284,0L19,19.1682l-2.377-2.3771L26,7.4141Z"></path><path d="M6,22V19l5-4.9966,1.3733,1.3733,1.4159-1.416-1.375-1.375a2,2,0,0,0-2.8284,0L6,16.1716V6H22V4H6A2.002,2.002,0,0,0,4,6V22Z"></path><rect id="_Transparent_Rectangle_" data-name="<Transparent Rectangle>" class="cls-1" width="32" height="32"></rect></g></svg>	
			}
		</figure>
		</div>
	</div>
	<div class="w-full">
		<div class="mt-1 flex w-full flex-wrap justify-between">
			<!-- categories -->
			<div class="flex items-center gap-3">
				<div class="flex flex-wrap items-center gap-x-1 text-sm opacity-80">
					<Icon name="tabler:category" class="h-4 w-4" />
					{muscle}</div>
				</div>
			</div>

			<!-- published date -->
			<!-- <div class="ml-auto text-xs opacity-70 md:text-sm">
				<div class="flex">
					<p class="whitespace-nowrap">
						<time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time>
					</p>
				</div>
			</div> -->
		</div>

		<!-- title -->
		<div class="mt-1">
			<h2
				class="group-hover:text-primary-600 inline text-lg font-semibold transition duration-300 md:text-xl"
			>
				{name}
			</h2>
		</div>

		<!-- description -->
		<!-- {showDescription && <p class="description mt-1 text-sm">{description}</p>} -->
	</div>
</a>
